.fitness-training {
  color: #1d2229;
}

.section-head {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-head button {
  background-color: #1d2229;
  color: #fff;
}

.section-head button:before {
  background-color: #a1f65e;
}

.section-head button:hover {
  color: #1d2229;
}

.boxes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 30px;
}

.boxes-container img {
  width: 100%;
  max-height: 1200px;
  margin-bottom: 10px;
}

.boxes-container p {
  width: 80%;
  margin: 10px 0;

  color: #6a6a6a;
}

.boxes-container a {
  color: #524ff5;
  font-size: 14px;
}

@media (max-width: 400px) {
  .section-head {
    flex-direction: column;
  }

  .section-head h2 {
    margin: 20px 0;
  }

  .boxes-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
